@charset "UTF-8";
/*
  Bent v0.6 beta
  Copyright 2017, Eduardo Calvo
  lunaticgeek.com
  Free to use under the MIT license.
  http://www.opensource.org/licenses/mit-license.php
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––------------------------------
- Base Styles
- Grid
- Navbar
- Lists
- Tables
- Buttons
- Forms
*/

/* Base Styles
––––––––––––––––––––––––––––––––––––––––––––––––––----------------------------*/
html{
	box-sizing:border-box;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.5;
}  

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin: 1rem 0 0 0;
  font-weight: bold; 
}

h1 {font-size: 2.5rem}
h2 {font-size: 2rem}
h3 {font-size: 1.75rem}
h4 {font-size: 1.5rem}
h5 {font-size: 1.25rem}
h6 {font-size: 1rem}

p {margin-top: 0}

a, a:visited, a:hover, a:focus {cursor: pointer;}
a {color: #1EAEDB}
a:visited {color: #01579b}
a:hover, a:focus {color: #0FA0CE}

code, kbd, pre, samp {
  font-family: monospace;
}

code {
  border-radius: 0.125rem;
  background: #e6e6e6;
  padding: 0.125rem 0.25rem;
}

pre {
  overflow: auto;
  border-radius: 0 0.125rem 0.125rem 0;
  background: #e6e6e6;
  padding: 0.75rem;
  margin: 0.5rem;
  border-left: 0.25rem solid #1565c0;
}

kbd {
  border-radius: 0.125rem;
  background: #0c0c0c;
  color: #fafafa;
  padding: 0.125rem 0.25rem;
}

blockquote {
  display: block;
  position: relative;
  font-style: italic;
  background: #eeeeee;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 1.5rem;
  border-left: 0.25rem solid #505050;
  border-radius: 0 0.125rem 0.125rem 0;
}

blockquote:after {
  position: absolute;
  font-style: normal;
  font-size: 0.875rem;
  color: #505050;
  left: 0.625rem;
  bottom: 0;
  content: "— " attr(cite);
}

footer{
  bottom:0;
  width:100%;
  height: 2rem;
  text-align: center;
  margin-top: auto;
  flex: 1;
}

article, aside, footer, header, hgroup, main, /*nav,*/ section {
    display: flex;
    flex-direction: column;
}

/* Grid
––––––––––––––––––––––––––––––––––––––––––––––––––----------------------------*/
.container {
  margin: 0 auto;
  padding: 0 0.75rem;
}

.row {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}

[class^='col-sm-'] {
  box-sizing: border-box;
  flex: 1 0 auto;
  padding: 0 0.25rem;
  max-width: 100%;
  flex-direction: column;
}

.col-sm-1 {flex-basis: 8.33%;}
.col-sm-2 {flex-basis: 16.67%;}
.col-sm-3 {flex-basis: 25%;}
.col-sm-4 {flex-basis: 33.33%;}
.col-sm-5 {flex-basis: 41.67%;}
.col-sm-6 {flex-basis: 50%;}
.col-sm-7 {flex-basis: 58.33%;}
.col-sm-8 {flex-basis: 66.67%;}
.col-sm-9 {flex-basis: 75%;}
.col-sm-10 {flex-basis: 83.33%;}
.col-sm-11 {flex-basis: 91.67%;}
.col-sm-12 {flex-basis: 100%;}

@media screen and (min-width: 768px) {
  [class^='col-md-'] {
    box-sizing: border-box;
    flex: 1 0 auto;
    padding: 0 0.25rem;
    max-width: 100%;
    flex-direction: column;
  }

  .col-md-1 {flex-basis: 8.33%;}
  .col-md-2 {flex-basis: 16.67%;}
  .col-md-3 {flex-basis: 25%;}
  .col-md-4 {flex-basis: 33.33%;}
  .col-md-5 {flex-basis: 41.67%;}
  .col-md-6 {flex-basis: 50%;}
  .col-md-7 {flex-basis: 58.33%;}
  .col-md-8 {flex-basis: 66.67%;}
  .col-md-9 {flex-basis: 75%;}
  .col-md-10 {flex-basis: 83.33%;}
  .col-md-11 {flex-basis: 91.67%;}
  .col-md-12 {flex-basis: 100%;}
}

@media screen and (min-width: 1280px) {
  [class^='col-lg-'] {
    box-sizing: border-box;
    flex: 1 0 auto;
    padding: 0 0.25rem;
    max-width: 100%;
    flex-direction: column;
  }

  .col-lg-1 {flex-basis: 8.33%;}
  .col-lg-2 {flex-basis: 16.67%;}
  .col-lg-3 {flex-basis: 25%;}
  .col-lg-4 {flex-basis: 33.33%;}
  .col-lg-5 {flex-basis: 41.67%;}
  .col-lg-6 {flex-basis: 50%;}
  .col-lg-7 {flex-basis: 58.33%;}
  .col-lg-8 {flex-basis: 66.67%;}
  .col-lg-9 {flex-basis: 75%;}
  .col-lg-10 {flex-basis: 83.33%;}
  .col-lg-11 {flex-basis: 91.67%;}
  .col-lg-12 {flex-basis: 100%;}  
}

/* Navbar
------------------------------------------------------------------------------*/
nav a, nav a:visited, nav a:hover, nav a:focus {
  display: none;
  text-decoration: none;
}

nav, nav:hover a, nav:hover a:visited, nav:hover a:hover, nav:hover a:focus {
  width: 100%;
  display: block;
  background: #003;
  color:#FFE;
}

.drop {
  position: relative;
  display: inline-block;
  background: #003;
  max-width: 100%;
}

.drop div {
  display: none;
  margin-left: 1rem;
  background: #003;
}

.drop:hover div {
  display: block;
  background: #003;
  width:100%;
}

@media screen and (min-width: 768px) {
  nav a, nav a:visited, nav a:hover, nav a:focus,
  nav:hover a, nav:hover a:visited, nav:hover a:hover, nav:hover a:focus {
    display: inline;
    color: #FFE;
  }

  .drop div {
    margin-left: 0;
    position: absolute;
  }
}

/* Lists
------------------------------------------------------------------------------*/
ol, ul, ul ul, ul ol, ol ol, ol ul {padding-left: 1rem;}

/* Tables
------------------------------------------------------------------------------*/
tbody > :nth-child(2n-1){background:#ddd;}

/* Buttons
------------------------------------------------------------------------------*/
button, input, select {
  width: 100%;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin: .5rem auto;
  padding: .75rem 1.5rem; /*maybe .5 1.5*/
}
button {
  color: #FFE;
  background: #003;
}
/*button:hover{
  background: #555;
}
*/
button a, button a:visited /*, button a:hover, button a:focus */{
  text-decoration: none;
  color: #FFE;
}

/* Forms
------------------------------------------------------------------------------*/
input[type=submit] {
  color:#FFE;
  background: #4169E1;
}
input[type=text] {
  color: black;
  background: white;
  border: 1px grey;
}
select {
  color: black;
  background: grey;
}
/* Colours
------------------------------------------------------------------------------*/
/* 
  royalblue: #4169E1    #919191
  darkslateblue: #483D8B    #646464
  base: #1B3B66   #404040
  text: #000033
*/




